{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ article.title }} {% endblock %}

{% block content %}
    {% if options %}
    <div class="col-md-24"><p>The search results are:</p>
        {% for i in options %}
        <form action="{% url 'search' %}" method="get" class="suggest">
            <ul><input type="submit" value="{{ i }}" class="suggestSubmit"></ul>
        </form>
        {% endfor %}
    </div>
    {% else %}
        {% if user.is_authenticated %}
            <p align="center">
                <input type="hidden" id="favoriteTitle" name="q" value="{{ article.title }}">

                <a class="btn btn-primary" id="add_to_favorite">Add to favorite</a>
            </p>
            <div id="favoriteResponse">
                 <!-- load favorite success response here -->
            </div>
        {% endif %}
    <div id="article">
        {{ article.html_content | safe }}
    </div>
    {% endif %}
{% endblock %}