{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ article.title }} {% endblock %}

{% block content %}
    {% if options %}
        <h5>The search results are:</h5>
            <ul class="list-group">
                {% for i in options %}
                    <form action="{% url 'search' %}" method="get" class="suggest" target="_blank">
                        <input type="hidden" name="q" value="{{ i }}">
                        <input type="submit" value="{{ i }}" class="list-group-item">
                    </form>
                {% endfor %}
            </ul>
    {% else %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-offset-3">
                <p align="center">
                    <input type="hidden" id="favoriteTitle" name="q" value="{{ article.title }}">
                <a class="btn btn-primary" id="add_to_favorite" style="float:right;">Add to favorites</a>
                </p>
            </div>
        </div>
    {% endif %}
    <div id="article">
        {{ article.html_content | safe }}
    </div>
    {% endif %}
{% endblock %}