{% extends "base.html" %}
{% block title %}
    User Home
{% endblock %}

{% block content %}
            {% if user.is_authenticated %}
            <p>Your favourite articles are:</p>
                {% if favorites %}
                    {% for i in favorites %}
                        <form action="/search/" method="get" onsubmit="{% url 'search' %}" target="_blank">
                            <input type="submit" value="{{ i }}" class="favoriteSubmit list-group-item">
                        </form>
                        <!--<form action="{% url 'search' %}" method="get" class="suggest">-->
                            <!--<button class="nav-link" href="{% url 'search' %}"> {{ i }} </button>-->
                        <!--</form>-->
                    {% endfor %}
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                </li>
            {% endif %}
            <div class="col-md-4" id="favoriteResponse">
                <!-- Response from ajax request -->
            </div>
{% endblock %}