{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <form role="form"
          action = "{% url 'user_login' %}"
          method = "post">
          {% csrf_token %}
          <p>Please login</p>
            {{ form | crispy }}
          <button type="submit" class="btn btn-success">Login</button>
            <br style = “line-height:1;”><br>
            <p>Haven't signed up yet?</p>
            <a href="{% url 'signup' %}" class="btn btn-primary">Signup!</a>
          <!--<button type="submit" class="btn btn-success">Sign Up!</button>-->
    </form>
{% endblock %}